.App {
  text-align: center;
  box-sizing: border-box;
}

.Calc {
  width: 500px;
  border: 5px solid rgb(185, 126, 219);
  margin: auto;
}

.Disp {
  height: 50px;
  border: 5px solid rgb(8, 36, 8);;
  font-size: 3em;
  text-align: right;
  padding: 10px;
}

.Buttons {
  border: 5px solid rgb(66, 90, 66);
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.Buttons > button {
  flex: 0 1 25%;
  background-color: rgb(151, 177, 151);
  border: 2px solid rgb(91, 94, 91);
  font-size: 2em;
}